h1{
  text-align: center;
}
body{
  background-color: skyblue;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.addNotes{
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  width: 400px;
  height: 80px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
}

button{
  background-color: rgb(104, 104, 247);
  color: white;
  font-weight: 600;
  margin: 5px;
  padding: 5px 8px;
  border-radius: 6px;
  width: fit-content;
  border: none;
}

input{
   margin: 5px;
  padding: 5px;
  border-radius: 6px;
}